<h2 id="title">ember-notify Addon Example</h2>

<button class="info" {{action "getInfo"}}>Info</button>
<button class="primary" {{action "clickMe"}}>Click Me!</button>
<button class="secondary" {{action "doNotClickMe"}}>Do Not Click Me...</button>
<button class="alert" {{action "somthingBad"}}>Donate</button>

{{ember-notify}}

{{outlet}}

